.container {
    display: flex;
    justify-content: center;
}

.contact_form {
    max-width: 1640px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AB56FC;
    margin-top: 60px;
    border-radius: 25px;
    margin: 60px 120px 0px 120px;
}

.contact_form .map {
    width: 50%;
    margin: 60px 30px 60px 60px;
}

.contact_form .text {
    width: 50%;
    margin: 60px 60px 60px 30px;
}

.contact_form .map iframe {
    border-radius: 25px;
    width: 100%;
}

.contact_form h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    color: white;
    text-transform: uppercase;
}

.contact_form p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: left;
    width: 100%; 
    color: white;
}

input {
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    width: 49%;
    padding: 10px;
    border-radius: 15px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#first_name {
    margin-right: 0.5%;
    
}

#last_name {
    margin-left: 0.5%;
}

#email {
    width: 100%;
}

::placeholder {
    color: white;
    opacity: 1;
}

textarea {
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    width: 100%;
    height: 240px;
    padding: 10px;
    border-radius: 15px;
    border-color: white;
    border-width: 2px;
}

input:focus {
    outline: none;
    border-color: #9B32FE;
}

textarea:focus {
    outline: none;
    border-color: #9B32FE;
}

.contact_form button {
    background-color: #9B32FE;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
}

.contact_form button:hover {
    font-weight: 700;
}


@media all and (max-width:1380px) {

    .contact_form {
        width: 100%;
        flex-wrap: wrap-reverse;
    }

    .contact_form .text {
        width: 100%;
        margin: 60px 60px 30px 60px;
    }

    .contact_form .map {
        width: 100%;
        margin: 30px 60px 60px 60px;
    }

    .contact_form .map iframe {
        width: 100%;
    }

}

@media all and (max-width:1200px) {

    .contact_form {
        margin: 60px 60px 0px 60px;
    }

}

@media all and (max-width: 768px) {

    .contact_form {
        margin: 30px 60px 0px 60px;
    }

    .contact_form .text {
        margin: 60px 60px 30px 60px;
    }

    .contact_form .text #first_name,
    .contact_form .text #last_name {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .contact_form textarea {
        height: 160px;
    }

    .contact_form .map {
        margin: 30px 60px 60px 60px;
    }

    .contact_form .map iframe {
        height: 400px;
    }

}

@media all and (max-width:450px) {

    .contact_form {
        margin: 20px 30px 0px 30px;
    }

    .contact_form h2 {
        font-size: 32px;
    }

    .contact_form p {
        margin-bottom: 30px;
    }

    .contact_form .text {
        margin: 30px 30px 15px 30px;
    }

    .contact_form textarea {
        height: 130px;
    }

    .contact_form button {
        font-size: 16px;
    }

    .contact_form .map {
        margin: 15px 30px 30px 30px;
    }

    .contact_form .map iframe {
        height: 300px;
    }

}



