.contact_form {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #B162FB;
    margin-top: 60px;
    border-radius: 25px;
}

.contact_form .map {
    width: 40%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact_form .text {
    width: 40%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact_form iframe {
    border-radius: 25px;
}

.contact_form h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    color: white;
    text-transform: uppercase;
}

.contact_form p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: left;
    width: 100%; 
    color: white;
}

input {
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    width: 49%;
    padding: 10px;
    border-radius: 15px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#first_name {
    margin-right: 0.5%;
    
}

#last_name {
    margin-left: 0.5%;
}

#email {
    width: 100%;
}

::placeholder {
    color: white;
    opacity: 1;
}

textarea {
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
    width: 100%;
    height: 240px;
    padding: 10px;
    border-radius: 15px;
    border-color: white;
    border-width: 2px;
}

input:focus {
    outline: none;
    border-color: #9B32FE;
}

textarea:focus {
    outline: none;
    border-color: #9B32FE;
}

.contact_form button {
    background-color: #9B32FE;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
}

.contact_form button:hover {
    font-weight: 700;
}