.wrap {
    max-width: 1640px;
}

.privacy_policy {
    background-color: rgba(170, 170, 170, 0.05); 
    backdrop-filter: blur(2px);
    height: auto;
    width: 100%;
    padding: 120px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy_policy h2 {
    color: white;
    font-size: 48px;
    text-transform: uppercase;
}

.privacy_policy h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
}

.privacy_policy p {
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.terms_and_conditions {
    background-color: rgba(170, 170, 170, 0.05); 
    backdrop-filter: blur(2px);
    height: auto;
    width: 100%;
    padding: 120px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms_and_conditions h2 {
    color: white;
    font-size: 48px;
    text-transform: uppercase;
}

.terms_and_conditions h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
}

.terms_and_conditions p {
    color: white;
    font-size: 18px;
    line-height: 30px;
}


@media all and (max-width:1200px) {

    .privacy_policy {
        padding: 60px;
    }

    .terms_and_conditions {
        padding: 60px;
    }

}

@media all and (max-width: 768px) {

    .privacy_policy {
        margin-top: 30px;
    }

    .privacy_policy h2,
    .terms_and_conditions h2 {
        font-size: 42px;
    }

}

@media all and (max-width: 450px) {

    .privacy_policy {
        margin-top: 20px;
        padding: 30px;
    }

    .privacy_policy h2,
    .terms_and_conditions h2 {
        font-size: 32px;
    }

    .privacy_policy h3,
    .terms_and_conditions h3 {
        font-size: 22px;
    }

    .privacy_policy p,
    .terms_and_conditions p {
        font-size: 16px;
    }

    .terms_and_conditions {
        margin-top: 30px;
        padding: 30px;
    }

}