.welcome {
    background-color: rgba(170, 170, 170, 0.05); 
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.welcome h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.welcome p {
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    padding-right: 60px;
}

.welcome img {
    width: 50%;
    border-radius: 40px;
}

.welcome a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: #B162FB;
    padding: 18px 40px 18px 40px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 10px;
}

.explore {
    background-color: rgba(170, 170, 170, 0.05); 
    backdrop-filter: blur(2px);
    height: auto;
    width: 100%;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0px 90px 0px;
}

.explore .box {
    width: 1640px;
    margin: 0px 120px 0px 120px;
}

.explore h2 {
    width: 100%;
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.explore p {
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
    line-height: 30px;
}

.explore figure {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.explore figure .img_box {
    text-align: center;
    position: relative;
}

.explore img {
    width: 280px;
    height: 460px;
    object-fit: cover;
    border-radius: 40px;
    filter: brightness(40%);
}

.explore img:hover {
    
}

.explore .img_box h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 36px;
}

.news {
    background-color: rgba(170, 170, 170, 0.05); 
    backdrop-filter: blur(2px);
    height: auto;
    width: 100%;
    padding: 90px 0px 90px 0px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news .box {
    width: 1640px;
    margin: 0px 120px 0px 120px;
}

.news h2 {
    width: 100%;
    color: white;
    font-size: 48px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.news p {
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
}

.news figure {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.news figure .img_box {
    text-align: center;
    position: relative;
}

.news img {
    width: 500px;
    height: 850px;
    object-fit: cover;
    border-radius: 40px;
    filter: brightness(40%);
}

.news .img_box h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 36px;
}

@media (max-width: 1890px) {

    .explore img {
        width: 220px;
        height: 380px;
    }

    .explore .img_box h3 {
        font-size: 28px;
    }

    .news img {
        width: 360px;
        height: 640px;
    }
}

@media (max-width: 1490px) {

    .welcome h1 {
        font-size: 42px;
    }

    .welcome p {
        font-size: 18px;
    }

    .welcome a {
        font-size: 18px;
    }

    .explore figure {
        justify-content: flex-start;
    }

    .explore h2 {
        font-size: 42px;
    }

    .explore p {
        font-size: 18px;
    }

    .news h2 {
        font-size: 42px;
    }

    .news p {
        font-size: 18px;
    }

    .news img {
        width: 260px;
        height: 480px;
    }

    .news .img_box h3 {
        font-size: 28px;
    }
}

@media (max-width: 1200px) {

    .welcome {
        margin-top: 30px;
    }

    .welcome img {
        width: 100%;
        margin-bottom: 60px;
    }

    .welcome .text_box {
        width: 100%;
    }

    .news img {
        width: 360px;
        height: 640px;
    }

    .explore .box {
        width: 100%;
        margin: 0px 60px 0px 60px;
    }

    .news figure {
        justify-content: flex-start;
    }

    .news .box {
        width: 100%;
        margin: 0px 60px 0px 60px;
    }

    .news h2 {
        font-size: 42px;
    }

    .news p {
        font-size: 18px;
    }

    .news img {
        width: 260px;
        height: 480px;
    }

    .news .img_box h3 {
        font-size: 28px;
    }
}

@media all and (max-width: 768px) {

    .news {
        padding: 60px 0px 60px 0px;
    }
    
    .news figure {
        justify-content: center;
    }

    .news img {
        width: 500px;
        height: 800px;
    }

    .explore {
        padding: 60px 0px 60px 0px;
    }

    .explore figure {
        justify-content: center;
    }

    .explore img {
        width: 500px;
        height: 650px;
    }
}

@media all and (max-width:450px) {

    .welcome {
        margin-top: 20px;
    }

    .news {
        margin-top: 30px;
        padding: 30px;
    }

    .news .box {
        margin: 0px;
    }

    .news figure {
        gap: 30px;
    }

    .news img {
        width: 350px;
        height: 600px;
    }

    .explore {
        margin-top: 30px;
        padding: 30px;
    }

    .explore .box {
        margin: 0px;
    }

    .explore img {
        width: 350px;
        height: 500px;
    }

}



