a {
  cursor: pointer;
  text-decoration: none;
}
  
ul {
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url('../IMG/STARS_1.png');
  background-color: #080B2A;
}

header {
  width: 100%;
  padding: 20px 120px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

nav ul {
  text-align: right;
  display: flex;
}

nav ul li {
  padding: 0px 0px 0px 40px;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
}

nav ul li a:hover {
  font-weight: 800;
}




.visit {
  width: 100%;
  height: auto;
  background-color: #276395;
  padding: 90px 120px 90px 120px;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

.visit h2 {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  padding-bottom: 20px;
}

.visit .text_box {
  width: 50%;
  color: white;
  font-size: 20px;
  line-height: 50px;
  padding-right: 90px;
}

.visit .text_box h3 {
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 30px;
}

.visit .text_box_1 {
  width: 50%;
  color: white;
  font-size: 20px;
  line-height: 50px;
  padding-right: 90px;
  padding-left: 90px;
}

.visit .text_box_1 h3 {
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 30px;
}



footer {
  background-color: rgba(170, 170, 170, 0.05); 
  backdrop-filter: blur(2px);
  height: auto;
  width: 100%;
  padding: 90px 120px 90px 120px;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .text_box {
  color: white;
  font-size: 18px;
  line-height: 30px;
}

footer .text_box p {
  max-width: 450px;
  margin-top: 20px;
}

footer .text_box a {
  color: white;
  line-height: 40px;
  font-size: 20px;
}

footer img {
  width: 260px;
}

.margin_bottom {
  width: 100%;
  height: 90px;
}